<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add Task </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <ion-item>
        <ion-input
          type="text"
          label="title"
          labelPlacement="floating"
          placeholder="Enter task title"
            name="title"
         formControlName="title"
        ></ion-input>
      </ion-item>
<ion-note
        *ngIf="title?.invalid && (title?.dirty || title?.touched)"
        color="danger"
      >
        <ng-container *ngIf="title?.hasError('required')">
          Title is required.
        </ng-container>
        <ng-container *ngIf="title?.hasError('minlength')">
          Title must be at least 3 characters long.
        </ng-container>
      </ion-note>

      <ion-item>
        <ion-textarea
          label="Description"
          labelPlacement="floating"
          placeholder="Enter text"
           name="description"
          formControlName="description"
        ></ion-textarea>
      </ion-item>
   <ion-note
        *ngIf="
          description?.invalid && (description?.dirty || description?.touched)
        "
        color="danger"
      >
        <ng-container *ngIf="description?.hasError('required')">
          Description is required.
        </ng-container>
      </ion-note>

      <ion-item>
        <ion-select label="Priority" label-placement="floating"
           formControlName="priority_level"
          required>
          <ion-select-option value="Low">Low</ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="High">High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-buttons slot="start">
          <ion-button color="danger" (click)="closeForm()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="success" (click)="onSubmit()" [disabled]="task.invalid">Save</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>