<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add Task </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <ion-item>
        <ion-input
          type="text"
          label="title"
          labelPlacement="floating"
          placeholder="Enter task title"
            name="title"
          [(ngModel)]="task.title"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Description"
          labelPlacement="floating"
          placeholder="Enter text"
           name="description"
          [(ngModel)]="task.description"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select label="Priority" label-placement="floating"
        name="priority_level"
          [(ngModel)]="task.priority_level">
          <ion-select-option value="Low">Low</ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="High">High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-buttons slot="start">
          <ion-button color="danger" (click)="closeForm()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="success" (click)="onSubmit()">Save</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>